@using City_Vibe.ViewModels.AppUserController
@model EditProfileViewModel



<form method="post" asp-action="EditProfile" enctype="multipart/form-data">

    <input type="hidden" id="Id" name="Id" asp-for="Id" />
@*    <input asp-for="Address.Id" type="hidden" class="form-control" />*@
    <input asp-for="AddressId" type="hidden" class="form-control" />
    <input asp-for="ProfileImageUrl" type="hidden" class="form-control" />


    <div class="form-group">
        <label asp-for="Address.City">City:</label>
        <input asp-for="Address.City" type="text" class="form-control form-control-lg" />
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label asp-for="Address.Region">Region:</label>
            <input asp-for="Address.Region" type="text" class="form-control form-control-lg" />
            <span asp-validation-for="Address.Region" class="text-danger"></span>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label asp-for="Address.ZipCode">ZipCode:</label>
            <input asp-for="Address.ZipCode" type="text" class="form-control form-control-lg" />
            <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
        </div>
    </div>

     <div class="col-6">
        <div class="form-group">
            <label asp-for="Address.Street">Street:</label>
            <input asp-for="Address.Street" type="text" class="form-control form-control-lg" />
            <span asp-validation-for="Address.Street" class="text-danger"></span>
        </div>
    </div>



    <div class="col-6">
        <div class="form-group">
            <label asp-for="Image"> Profile Image:</label>
            <input asp-for="Image" type="file" class="form-control form-control-lg" placeholder="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
